/* --------------------------- */

/* VARIABLES                  */

/* --------------------------*/


:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}



/* ------------------------- */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--color-light-gray);
    font-display: swap;
    font-size: 15px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/* ------------------------ */

img{
    max-width: 100%;
    height: auto;
    border-radius: 0.675rem;
}

main {
    background-color: var(--color-white);
    max-width: 320px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0, 0%, 0%, 0.05);
    text-align: center;
    margin: 1.075rem;
}

h1{
    font-size: 1.375rem;
    line-height: 1.275;
    margin-top: 1.1em;
    color: var(--color-dark-blue);
}

p{
    line-height: 1.3;
    color: var(--color-blue);
    margin: 1.07em;
}